// ---- light
$body-background-color: #fdfdfd !default;
$body-color: #333 !default;
$color-light: #fff !default;
$backdrop-color: rgba(8, 34, 63, 0.6) !default;
$box-shadow-default: 0 1px 1px rgba(0, 0, 0, 0.2) !default;
$box-shadow-heavy: 0 2px 4px rgba(0, 0, 0, 0.2) !default;
$brand-color: #007acc !default;
$base-border-color: #f5f5f5 !default;
$base-border-color-hover: #ddd !default;

// ---- dark

// ---- prepare themes as custom properties
// our default color-scheme is light
@mixin theme-light {
  --bg: #{$body-background-color};
  --color: #{$body-color};
  --color-light: #{$color-light};
  --backdrop-color: #{$backdrop-color};
  --box-shadow: #{$box-shadow-default};
  --box-shadow-heavy: #{$box-shadow-heavy};
  --brand-color: #{$brand-color};
  --border-color: #{$base-border-color};
  --border-color-hover: #{$base-border-color-hover};
}

// @mixin theme-dark {
//   // colors
//   --bg: #{$bg--dark};
//   --bg--inverted: #{$bg-inverted--dark};
//   --color: #{$color--dark};
//   --color--inverted: #{$color-inverted--dark};
//   --color-light: #{$color-light--dark};
//   --link-hover-bg: #{$bg-light--dark};
//   --link-active-color: #{color-secondary--dark};
//   --link-visited-color: #{color-tertiary--dark};

//   // elements
//   --drop-shadow: 0 2px 4px #{$drop-shadow-color--dark};
//   --border-color: #{$border-color--dark};
// }
