// ----- Setup -----
$document-font-family: -apple-system, sans-serif !default;
$body-background-color: #fdfdfd !default;
$body-color: #333 !default;
$box-shadow-default: 0 1px 1px rgba(0, 0, 0, .2) !default;
$box-shadow-heavy: 0 2px 4px rgba(0, 0, 0, .2) !default;
$brand-color: #007acc !default;

$wallpaper-filter: blur(.1px) !default;

$base-spacing-size: 1vw !default;
$base-spacing-size-px: 9px !default;
$base-animation-speed: .2s !default;

$base-border-color: #f5f5f5 !default;
$base-border-color-hover: #ddd !default;

$button-background-color: transparent !default;

$collapse-border: 1px solid $base-border-color-hover !default;

$header-background-color: $body-background-color !default;
$header-link-color: $body-color !default;
$header-link-active-bg: $brand-color !default;
$header-link-active-color: #fff !default;

$main-link-border-color: $base-border-color !default;
$main-link-background-color: #f5f5f5 !default;
$main-link-background-image: linear-gradient(to bottom,rgba($body-background-color, .9),rgba($main-link-background-color, .97)) !default;
$main-link-background-image-hover: linear-gradient(to top,rgba($body-background-color, .9),rgba($main-link-background-color, .97)) !default;
$main-link-active-border-color: $base-border-color-hover !default;
$main-link-description-bg: rgba($main-link-border-color, .3) !default;
$main-link-description-color: $header-link-color !default;
$main-link-active-description-bg: $header-link-active-bg !default;
$main-link-active-description-color: $header-link-active-color !default;

$tile-button-padding: $base-spacing-size/2 !default;
$tile-button-color: inherit;

$backdrop-color: rgba(8, 34, 63, .6) !default;
$background-blur-setting: 1px;

$modal-border: none !default;
$modal-border-radius: 4px !default;
$modal-header-background-color: transparent !default;
$modal-header-color: $body-color !default;
$modal-header-border: 2px solid $header-link-active-bg;
$modal-content-background-color: $body-background-color !default;
$modal-content-color: $body-color !default;
$modal-content-max-height: 400px !default;
$modal-content-height: auto !default;
$modal-content-max-width: 500px !default;
$modal-content-width: 90% !default;

$overlay-background-color: $body-background-color !default;
$overlay-color: $body-color !default;

$notification-background-color: $body-background-color !default;
$notification-color: $body-color !default;

$bookmarks-max-width: 400px !default;

$footer-bg: $brand-color !default;
$footer-color: #fff !default;

$no-js-separator-color: $main-link-border-color !default;
