// ----- Setup -----
$document-font-family: -apple-system, sans-serif !default;
$wallpaper-filter: blur(0.1px) !default;

$base-spacing-size: 1vw !default;
$base-spacing-size-px: 9px !default;
$base-animation-speed: 0.2s !default;

$tile-button-padding: $base-spacing-size/2 !default;
$tile-button-color: inherit;

$background-blur-setting: 1px;

$modal-border: none !default;
$modal-border-radius: 4px !default;
$modal-content-max-height: 400px !default;
$modal-content-height: auto !default;
$modal-content-max-width: 500px !default;
$modal-content-width: 90% !default;

$bookmarks-max-width: 400px !default;
