html {
  font-size: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

/* HTML 5 fixes */
header,
main,
footer {
  display: block;
}
