// ---- overlay ----
.collapse {
	display: block;
	&.js-closed {
		.collapse-icon { transform: rotate(-45deg); }
		.collapse-main { max-height: 0; }
	}
}

.collapse-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0;
	padding-top: inherit;

	.js-collapse-toggle {
		cursor: pointer;
		display: block;
		outline: none;
		padding-left: 0;
		text-align: left;
		width: 100%;
	}
}

.collapse-icon {
	display: inline-block;
	float: right;
	position: relative;
	top: -2px;
	transition: transform .2s ease;
}

.collapse-main {
	max-height: 100vh;
	overflow: hidden;
	transition: max-height .5s ease;
}
