// ---- overlay ----
.folddown {
	display: block;
	&.js-closed {
		.folddown-icon { transform: rotate(45deg); }
		.folddown-main { max-height: 0; }
	}

	a { font-size: .875rem;	/* 14px / 16px */ }
}

.folddown-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0;
	padding-top: inherit;

	.collapse-trigger {
		cursor: pointer;
		display: block;
		outline: none;
		padding-left: 0;
		padding-right: 0;
		text-align: left;
		width: 100%;
	}
}

.folddown-icon {
	display: inline-block;
	position: relative;
	top: -1px;
	transition: transform .2s ease;
}

.folddown-main {
	max-height: 100vh;
	overflow: hidden;
	transition: max-height .5s ease;
}
