// ---- collapse ----
.collapse {
	display: block;
}

.collapse-title {
	font-size: inherit;
	font-weight: 600;
	margin: 0;
	padding-top: inherit;

	.js-collapse-trigger {
		cursor: pointer;
		display: block;
		outline: none;
		padding-left: 0;
		text-align: left;
		width: 100%;
	}
}

.collapse-main {
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s ease;
}

.collapse-icon {
	display: inline-block;
	float: right;
	position: relative;
	top: -2px;
	transform: rotate(-45deg);
	transition: transform .2s ease;
}

.collapse.js-is-active {
	.collapse-icon { transform: rotate(0); }
	.collapse-main { max-height: 100vh; }
}
