// ###### switches #####

// ###### Settings #####
$flyout-background-color: var(--bg) !default;
$flyout-box-shadow: var(--box-shadow-heavy) !default;
$flyout-color: var(--color) !default;
//---------------------
// ###### Layout ######
//---------------------
.flyout {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 3;
}

.flyout-backdrop {
  display: none;
}

.flyout-close {
  float: right;
}

.flyout-title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
  padding-top: inherit;
}

.flyout-content {
  background-color: $flyout-background-color;
  box-shadow: $flyout-box-shadow;
  color: $flyout-color;
  height: 100vh;
  max-width: $bookmarks-max-width;
  overflow-y: auto;
  padding: $base-spacing-size $base-spacing-size * 1.5;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all $base-animation-speed ease;
  width: 100%;

  ul {
    @include ul-reset;
  }

  a {
    font-size: 0.875rem; /* 14px / 16px */
    padding: 2px 0;
  }
}

// -- show flyout
.js-is-active {
  .flyout-content {
    transform: translateX(0);
  }

  .flyout-backdrop {
    display: block;
  }
}
