// ---- modal-list ----
.modal-list {
  @include ul-reset;
}

.modal-list__item {
  display: inline-block;
  width: 49%;
}

@supports (display: grid) {
  .modal-list {
    display: grid;
    grid-template-columns: 50% auto;
  }
  .modal-list__item {
    width: 100%;
  }
}

.modal-list__link {
  display: block;
  padding: $base-spacing-size-px;
  text-decoration: none;
  &:hover {
    background-color: $main-link-background-color;
  }
}
