// ---- modal ----
.modal {
	display: block;
	position: fixed;
	top: 0;
	z-index: 2;
}

.modal-overlay {
	@include align-centered($scale:0,$position:fixed);
}

.modal-header {
	font-weight: 600;
	position: relative;
}

.modal-content { overflow-y: auto; }

.modal-header__close {
	@include align-vertical;
	right: 0;
}
