// ###### switches #####

// ###### Settings #####
$overlay-background-color: var(--bg) !default;
$overlay-color: var(--color) !default;

//---------------------
// ###### Layout ######
//---------------------
.overlay {
  display: block;
  position: fixed;
  z-index: 3;
}

.overlay-close {
  float: right;
}

.overlay-title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
  padding-top: inherit;
}

.overlay-content {
  height: 100vh;
  overflow-y: auto;
  transition: all $base-animation-speed ease;
  width: 100%;
}
