// ###### switches #####

// ###### Settings #####

//---------------------
// ###### Layout ######
//---------------------
#wallpaper {
  background-position: center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  filter: var(--wallpaper-filter);
}
