// ---- overlay ----
.overlay {
	display: block;
	position: fixed;
	z-index: 2;
}

.overlay-close { float: right; }

.overlay-title {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 0;
	padding-top: inherit;
}

.overlay-content {
	height: 100vh;
	overflow-y: auto;
	transition: all .4s ease;
	width: 100%;
}

.overlay-backdrop {
	height: 100vh;
	position: absolute;
	transition: opacity .4s ease;
	width: 100vw;
	z-index: -1;
}
