@mixin align-centered($scale, $position:absolute) {
	@if $scale {
		transform: translate(-50%,-50%) scale(#{$scale});
	} @else {
		transform: translate(-50%,-50%);
	}

	position: #{$position};
	left: 50%;
	top: 50%;
}
