// ---- Content ----

// Hide Tabs if JS is available, otherwise show all content
.js main .tabbed-content:not(.active) { display: none; }

main {
	div { @include clearfix; }
	ul {
		margin-left: auto;
		margin-right: auto;
		@include table-reset;
	}
	li { float: left; }

	a {
		display: block;
		position: relative;		// allow postioning of child-elements
	}

	// Clip text of Description if nessecary
	span {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
