// ---- Navigation ----
nav {
	ul {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		@include clearfix;
	}
	li { float: left; }
	a {
		display: block;
		text-decoration: none;
	}
}
