// ----- Setup -----
$document-font-family: -apple-system, sans-serif;
$body-background-color: #fdfdfd;
$body-color: #333;
$box-shadow-default: 0 2px 2px rgba(0, 0, 0, .2);

$base-spacing-size: 1vw;
$base-spacing-size-px: 9px;
$base-animation-speed: .5s;

$base-border-color: #f5f5f5;
$base-border-color-hover: #ddd;

$button-background-color: transparent;

$collapse-border: 1px solid $base-border-color-hover;

$header-background-color: $body-background-color;
$header-link-color: $body-color;
$header-link-active-bg: #007acc;
$header-link-active-color: #fff;

$main-link-border-color:$base-border-color;
$main-link-background-color: #f5f5f5;
$main-link-background-image: linear-gradient(to bottom,$body-background-color, $main-link-background-color);
$main-link-background-image-hover: linear-gradient(to top,$body-background-color, $main-link-background-color);
$main-link-active-border-color: $base-border-color-hover;
$main-link-description-bg: rgba($main-link-border-color,.95);
$main-link-description-color: $header-link-color;
$main-link-active-description-bg: $header-link-active-bg;
$main-link-active-description-color: $header-link-active-color;

$overlay-background-color: $body-background-color;
$overlay-color: $body-color;
$overlay-backdrop-color: rgba($body-background-color, .7);

$notification-background-color: $body-background-color;
$notification-color: $body-color;

$bookmarks-max-width: 400px;

$footer-bg: $header-link-active-bg;
$footer-color: $header-background-color;

$no-js-separator-color: $main-link-border-color;


// ----- Body -----
body {
	background-color: $body-background-color;
	font-family: $document-font-family;
}

// ---- Elements ----
button {
	background-color: $button-background-color;
	border-width: 0;
	font-size: inherit;
}
.close { font-weight: 600; }

.collapse {
	border-top: $collapse-border;
	//&:last-child { border-bottom: $collapse-border}
}
.collapse-main ul { padding-bottom: $base-spacing-size *.75; }

.overlay {
	height: 100vh;
	width: 100%;
}
.overlay-content {
	background-color: $overlay-background-color;
	box-shadow: $box-shadow-default;
	color: $overlay-color;
}
.overlay-backdrop {
	background-color: $overlay-backdrop-color;
	backdrop-filter: blur(5px);
}

.js-hidden {
	.overlay-content { transform: translateX(100%);	}
	.overlay-backdrop {
		height: 0;
		opacity: 0;
	}
}
.js-visible {
	.overlay-content { transform: translateX(0); }
	.overlay-backdrop { opacity: 1; }
}


// ---- header ----
header {
	background-color: $header-background-color;
	box-shadow: $box-shadow-default;
	width: 100%;
	z-index: 2;

	&.js-sticky { top: 0; }

	.collapse { border-width: 0; }
}

nav {
	li { display: inline-block; }

	a {
		color: $header-link-color;

		&:hover,
		&.active {
			background-color: $header-link-active-bg;
			border-radius: 2px;
			color: $header-link-active-color;
		}
	}
}

// ---- Content ----
main {
	margin: $base-spacing-size;

	ul {
		display: grid;
		grid-gap: $base-spacing-size;
	}

	a {
		background-color: $main-link-background-color;
		background-image: $main-link-background-image;
		background-clip: padding-box;
		border: 1px solid $main-link-border-color;
		border-radius: 2px;
		font-size: .75rem;
		position: relative;
		text-align: center;
		text-decoration: none;

		&:hover {
			border-color: $main-link-active-border-color;
			background-image: $main-link-background-image-hover;
			z-index: 1;
		}

		// Description
		span {
			background-color: $main-link-description-bg;
			bottom: 0;
			color: $main-link-description-color;
			left: 0;
			display: block;
			padding: $base-spacing-size/2;
			position: absolute;
			right: 0;
		}
	}
}

// ---- Bookmarks ----
#bookmarks {

	.overlay-content {
		max-width: $bookmarks-max-width;
		position: fixed;
		top: 0;
		right: 0;
	}

	ul { @include ul-reset; }

	a {
		color: inherit;
		font-size: .875rem;	/* 14px / 16px */
		padding: 2px 0;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}

// ---- Notification ----
#notification {
	background-color: $notification-background-color;
	box-shadow: $box-shadow-default;
	color: $notification-color;
	padding: $base-spacing-size;
	right: 0;
	position: fixed;
	bottom: $base-spacing-size*3;
	z-index: 99;

	// Animation
	display: block;	// overwrite hidden-class
	transition: all .2s;
	&.js-hidden { transform: translateX(100%); }
	&.js-visible {
		right: $base-spacing-size;
		transform: translateX(0%);
	}
}

// ---- Footer ----
footer {
	@include clearfix;
	background-color: $footer-bg;
	color: $footer-color;
	font-size: .75rem;
	padding-left: $base-spacing-size;
	padding-right: $base-spacing-size;
	width: 100%;
	z-index: 1;

	&.js-sticky { bottom: 0; }

	ul { @include ul-reset; }
	li { display: inline-block; }
	a {
		color: inherit;
		display: inline-block;
		padding-top: $base-spacing-size-px;
		padding-bottom: $base-spacing-size-px;
	}

	div:first-of-type { float: left; }
	.social-profiles { float: right; }
}

// ---- Responsive ----
// Mobile view
@include phone-only {
	button { padding: $base-spacing-size $base-spacing-size*2; }

	header,
	.overlay-content { padding: $base-spacing-size*2 $base-spacing-size*1.5; }

	header a { padding: $base-spacing-size $base-spacing-size*2; }
	.overlay-title {
		padding-top: $base-spacing-size;
		padding-bottom: $base-spacing-size
	}

	header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	main {
		ul { grid-template-columns: repeat(2,1fr); }
	}

	#bookmarks-toggle { justify-self: end; }
	#header-nav-toggle { justify-self: start; }
	#header-nav {
		grid-column-start: 1;
		grid-column-end: span 2;
		max-height: 0;
		overflow: hidden;
		transition: max-height .5s ease;
		&.js-opened { max-height: 100vh; }

		li { display: block; }
	}
}

// Tablet portrait
@include tablet-portrait {
	main {
		ul { grid-template-columns: repeat(4,1fr); }
	}
}

// Tablet portrait
@include tablet-landscape-up {
	main {
		ul { grid-template-columns: repeat(5,1fr); }
	}
}

// Default View
@include default {
	button { padding: $base-spacing-size*.75 $base-spacing-size; }

	header,
	.overlay-content { padding: $base-spacing-size*.75 $base-spacing-size; }

	header{
		a { padding: $base-spacing-size*.75 $base-spacing-size; }

		// overwrite collapse-styles
		.collapse-main { overflow: visible; }
	}

	.overlay-title,
	.collapse a {
		padding-top: $base-spacing-size*.75;
		padding-bottom: $base-spacing-size*.75;
	}

	main {
		.title {
			opacity: 0;
			transition: opacity $base-animation-speed;
		}
		a:hover {
			.title { opacity: 1; }
		}
	}

	button[data-target*="nav"] { display: none; }
}


// ---- Fallbacks / special cases ----
// separation of content if JS is disabled / not loaded
body:not(.js) main nav:not(:last-child) {
	margin-bottom: $base-spacing-size*2;
	padding-bottom: $base-spacing-size*2;
	border-bottom: 1px dotted $no-js-separator-color;
}
