
// ----- Body -----
body {	background-color: #f5f5f5; }


// ---- header ----
header {
	background-color: #fff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
	display: block;
	padding: 9px 18px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	li:not(:last-child) { margin-right: 9px; }
	a {
		padding: 9px 18px;
		color: #333;

		&:hover,
		&.active {
			background-color: rgb(18, 139, 184);
			border-radius: 3px;
			color: #fff;
		}
	}
}

// ---- Content ----
main {
	margin-top: 60px;

	ul { width: 90%; }
	li { width: 20%; }

	a {
		margin: 9px;
		box-shadow: 2px 2px 5px rgba(0,0,0,.2);
		border: 1px solid #ddd;
		border-radius: 1px;

		&:hover {
			border-color: #ccc;
			box-shadow: 1px 1px 2px rgba(0,0,0,.2);
		}

		// Description
		span {
			background-color: #fff;
			bottom: 0;
			color: #aaa;
			font-size: .75em;
			left: 0;
			display: block;
			padding: 4px;
			position: absolute;
			right: 0;
		}
	}
}

// ---- Footer ----
footer {
	background-color: #fafafa;
	border-top: 1px solid #ccc;
	font-size: .823em;
	color: #888;
	position: fixed;
	bottom: 0;
	width: 100%;
}
