// ---- js-hidden (Elements to be hidden via JS) ----
.js-hidden { display: none; }

// ---- js-fixed (Element to be fixed via JS) ----
.js-fixed { position: fixed; }

// ---- Js-sticky (Element to be fixed via JS) ----
.js-sticky { position: fixed; }

