// ----- Body -----
body {
	background-color: $body-background-color;
	font-family: $document-font-family;
}

// ---- Elements ----
.backdrop {
	background-color: $backdrop-color;
	backdrop-filter: blur(5px);
}

.collapse {	border-top: $collapse-border; }

.modal-overlay {
	background-color: $modal-content-background-color;
	color: $modal-content-color;
	padding: $base-spacing-size / 2;
	box-shadow: $box-shadow-heavy;
	max-height: $modal-content-max-height;
	height: $modal-content-height;
	max-width: $modal-content-max-width;
	width: $modal-content-width;
}

.modal-header {
	background-color: $modal-header-background-color;
	color: $modal-header-color;
	padding: $base-spacing-size $base-spacing-size/2;
	margin-bottom: $base-spacing-size / 2;
}

.overlay {
	height: 100vh;
	width: 100%;
}
.overlay-content {
	background-color: $overlay-background-color;
	box-shadow: $box-shadow-heavy;
	color: $overlay-color;
}

.js-hidden {
	.backdrop {
		height: 0;
		opacity: 0;
	}
	.modal-overlay { display: none; }
	.overlay-content { transform: translateX(100%);	}
}
.js-visible {
	.backdrop { opacity: 1; }
	.modal-content { display: block; }
	.overlay-content { transform: translateX(0); }
}


// ---- header ----
header {
	background-color: $header-background-color;
	box-shadow: $box-shadow-default;

	&.js-sticky { top: 0; }

	.collapse { border-width: 0; }
}

nav {
	li { display: inline-block; }

	a {
		color: $header-link-color;

		&:hover,
		&.active {
			background-color: $header-link-active-bg;
			border-radius: 2px;
			color: $header-link-active-color;
		}
	}
}

// ---- Content ----
.list-tiles {
	display: grid;
	grid-gap: $base-spacing-size;
	grid-template-columns: repeat(auto-fit,minmax(256px, 1fr));

	li {
		display: flex;
		height: 156px;
	}
}

.tile {
	background-color: $main-link-background-color;
	background-image: $main-link-background-image;
	background-clip: padding-box;
	border: 1px solid $main-link-border-color;
	border-radius: 2px;
	display: flex;
	font-size: .75rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100%;

	&:hover {
		border-color: $main-link-active-border-color;
		background-image: $main-link-background-image-hover;
		z-index: 1;
	}
}

.tile-title {
	background-color: $main-link-description-bg;
	bottom: 0;
	color: $main-link-description-color;
	left: 0;
	display: block;
	padding: $base-spacing-size/2;
	position: absolute;
	right: 0;
}

.tile-image { margin: auto; }	// center images when parent-item has display: flex;

// ---- Bookmarks ----
#bookmarks {

	.overlay-content {
		max-width: $bookmarks-max-width;
		position: fixed;
		top: 0;
		right: 0;
	}

	ul { @include ul-reset; }

	a {
		font-size: .875rem;	/* 14px / 16px */
		padding: 2px 0;
	}
}

// ---- Notification ----
.notification {
	background-color: $notification-background-color;
	box-shadow: $box-shadow-heavy;
	color: $notification-color;
	padding: $base-spacing-size;
	right: 0;
	position: fixed;
	bottom: $base-spacing-size*3;
	z-index: 99;
}

// ---- Footer ----
footer {
	background-color: $footer-bg;
	color: $footer-color;
	font-size: .75rem;
	padding-left: $base-spacing-size;
	padding-right: $base-spacing-size;
	width: 100%;
	z-index: 1;

	&.js-sticky { bottom: 0; }

	a {
		color: inherit;
		display: inline-block;
		padding-top: $base-spacing-size-px;
		padding-bottom: $base-spacing-size-px;
	}

	.description { float: left; }
	.social-profiles { float: right; }
}

// ---- Responsive ----
// Mobile view
@include phone-only {
	button { padding: $base-spacing-size $base-spacing-size*2; }

	header,
	.overlay-content { padding: $base-spacing-size*2 $base-spacing-size*1.5; }

	header a { padding: $base-spacing-size $base-spacing-size*2; }
	.overlay-title {
		padding-top: $base-spacing-size;
		padding-bottom: $base-spacing-size
	}

	header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	#bookmarks-toggle { justify-self: end; }
	#header-nav-toggle { justify-self: start; }
	#header-nav {
		grid-column-start: 1;
		grid-column-end: span 2;
		max-height: 0;
		overflow: hidden;
		transition: max-height .5s ease;
		&.js-opened { max-height: 100vh; }

		li { display: block; }
	}
}

// Tablet portrait
@include tablet-portrait {
}

// Tablet landscape
@include tablet-landscape-up {
}

// Default View
@include default {
	button { padding: $base-spacing-size*.75 $base-spacing-size; }

	header,
	.overlay-content { padding: $base-spacing-size*.75 $base-spacing-size; }

	header{
		a { padding: $base-spacing-size*.75 $base-spacing-size; }

		// overwrite collapse-styles
		.collapse-main { overflow: visible; }
	}

	#bookmarks-toggle { float: right; }

	.overlay-title,
	.collapse a {
		padding-top: $base-spacing-size*.75;
		padding-bottom: $base-spacing-size*.75;
	}

	.tile-title {
		opacity: 0;
		transition: opacity $base-animation-speed;
	}
	.tile:hover {
		.tile-title { opacity: 1; }
	}

	button[data-target*="nav"] { display: none; }
}


// ---- Fallbacks / special cases ----
// separation of content if JS is disabled / not loaded
body:not(.js) main nav:not(:last-child) {
	margin-bottom: $base-spacing-size*2;
	padding-bottom: $base-spacing-size*2;
	border-bottom: 1px dotted $no-js-separator-color;
}
